<h3 class="txt-center m-4">Contact</h3>
<form class="flx flx-col m-auto" style="width: 400px;">
    <label for="name" class="col-0 p-4 m-2">Your Name</label>
    <input type="text" class="col-0 p-4 m-2" name="name" id="name" >

    <label for="company" class="col-0 p-4 m-2">Cmpany</label>
    <input type="text" class="col-0 p-4 m-2" name="company" id="company" >


    <label for="email" class="col-0 p-4  m-2">Email</label>
    <input type="email" class="col-0 p-4 m-2" name="email" id="email" placeholder="Enter your email">
   
    
    <label for="subject" class="col-0 p-4 m-2">Subject</label>
    <input type="text" class="col-0 p-4 m-2" name="subject" id="subject" >
    

    <label for="message" class="col-0 p-4 m-2">Your message(optional) </label>

    <textarea type="message" class="col-0 p-4 m-2" name="message" id="message" placeholder="Type your message"></textarea>
    <input type="submit" class="col-0 btn p-4 m-2 bg-deepskyblue border-white hover-deepskyblue" value="Send">

</form>