<div class="flx bg-deepskyblue white py-6 mt-7 px-4">
    <div class="col-2">
        <ul class="none px-4" >
            <h6 class="pb-4">Company</h6>
            <li class="pb-3">
                <a routerLink="about">About</a>
            </li>
            <li class="pb-3"><a routerLink="contact">Contact</a></li>
            <li class="pb-3"><a routerLink="Careers">Careers</a></li>
            <li class="pb-3"><a routerLink="impact-report">Impact Report</a></li>
            <li class="pb-3"><a routerLink="testimonials">Testimonials</a></li>
            <li class="pb-3"><a routerLink="team">Team Members</a></li>

        </ul>
    </div>
    <div class="col-2">
        <ul class="none px-4" >
            <h6 class="pb-4">Resources</h6>
            <li class="pb-3">
                <a routerLink="guides">Guides</a>
            </li>
            <li class="pb-3"><a routerLink="faq">FAQs</a></li>
            <li class="pb-3"><a routerLink="brand">Brand Kits</a></li>
            <li class="pb-3"><a routerLink="compliance"> Compliance</a></li>
            <li class="pb-3"><a routerLink="privacy-policy">Privacy Policy</a></li>
            <li class="pb-3"><a routerLink="terms">Terms of Service</a></li>

        </ul>
    </div>
    <div class="col-2">
        <ul class="none px-4" >
            <h6 class="pb-4">Community</h6>
            <li class="pb-3">
                 <a routerLink="blog">Blog</a>
            </li>
            <li class="pb-3"><a routerLink="shop">Shop</a></li>
            <li class="pb-3"><a routerLink="forum">Forum</a></li>
            <li class="pb-3"><a routerLink="membership">Membership</a></li>
            <li class="pb-3"><a routerLink="support-desk">Support Desk</a></li>
            <li class="pb-3"><a routerLink="help">Help Center</a></li>

        </ul>
    </div>

    <div class="col-2">
        <ul class="none px-4" >
            <h6 class="pb-4">Nicecharity.org</h6>
            <li class="pb-3">
                <label for="mail">Mail
                    <a href="mailto:hello@nicecharity.org" name="mail">hello&#64;nicecharity.org</a>
                </label>
            </li>
            <label for="tel" class="pb-3">
                <li><a href="tel:+916305737271" name="tel">+91 6305737271</a></li>
            </label>
           

        </ul>
    </div>
</div>