<nav class="bg-deepskyblue flx wrap py-3 px-4 align-items-baseline" style="position: sticky; top: 0; left: 0">
    <a class="h6 col py-4" href="#">nicecharity.org</a>
    <span class="col-4"></span>
    <a class=" col btn white p-4 bg-black" href="#">Start a campaign</a>
    <a class="btn col py-4" href="">Campaigns</a>
    <a class="btn col py-4" href="#">About</a>
    <a class="btn col py-4" href="#">Contact</a>
    <a class="btn col py-4" href="#">Login</a>
    <a class="btn col py-4" href="#">sign up</a>

</nav>