 <app-hero></app-hero> 
 <section class="flx my-6">
    <h3 class="txt-center col-12">Why Choose Us</h3>
</section>
<section class="flx px-6 pb-6 wrap">
    <div class="col-4 px-4 black">
        <h4 >100+</h4>
        <h6>Projects Funded</h6>
        <p>Your generosity has sparked over 100 projects to life, helping communities thrive!</p>
        <a href="#" class="deepskyblue">Help her</a>
    </div>
    <div class="col-4 px-4 black">
        <h4 >50K+</h4>
        <h6>Donors Joined</h6>
        <p>Over 50,000 kind hearts have joined us, creating waves of positive change together!</p>
        <a href="#" class="deepskyblue">Help her</a>
    </div>
    <div class="col-4 px-4 black">
        <h4 >$1M+</h4>
        <h6>Raised Funds</h6>
        <p>Weʼve raised over $1 million, turning your caring gifts into action and hope!

        </p>
        <a href="#" class="deepskyblue">Help her</a>
    </div>
    <div class="col-4 px-4 black">
        <h4 >98%</h4>
        <h6>Success Rate</h6>
        <p>A stunning 98% success rate! Our efforts ensure your donations make the biggest impact.</p>
        <a href="#" class="deepskyblue">Help her</a>
    </div>

</section>
 <section class=" my-6">
    <h3 class="txt-center"> Our Mission And Values
    </h3>
    <h5 class="txt-center"> Dedicated To Making A Positive Impact
    </h5>
    
</section>
<div class="flx">
    <div class="col-6 p-7">
        <p class="pb-6">    At our core, we are driven by the belief that every act of kindness and generosity can create a positive impact. Our mission is to support and empower communities in need, providing essential resources and opportunities to improve their quality of life.
        </p> 
        <p>    We are committed to transparency, ensuring that every donation is used efficiently and effectively to make a lasting difference. Our values center on integrity, compassion, and the relentless pursuit of positive change, guided by the belief that together, we can create a brighter future for all.
        </p>
    </div>
    <div class="col-6 p-7">
        <img src="" alt="Image">
    </div>
</div>


<section class="my-6">
    <h3 class="txt-center">Reach out to us</h3>
    <h5 class="txt-center">Let's make a difference</h5>
    <button type="button" class="m-auto block p-4 my-4 bg-black white btn">Contact us</button>

</section>

