<h3 class="txt-center py-4">Start a campaign</h3>
<form class="flx flx-col m-auto" style="width:450px">
    <label for="title" class="pb-2 pt-4 m-2">Title</label>
    <input type="text" name="title" id="title" class="p-4 m-2">
    <label for="desc" class="pb-2 pt-4 m-2">Description</label>
    <textarea type="text" name="desc" id="desc" class="p-4 m-2"></textarea>
    <label for="goal" class="pb-2 pt-4 m-2">Goal amount</label>
    <input type="number" name="goal" id="goal" class="p-4 m-2">
    <label for="cat" class="pb-2 pt-4 m-2">Categories</label>
    <select name="cat" id="cat" class="p-4 m-2"></select>
    <label for="image" class="pb-2 pt-4 m-2">Image</label>
    <input type="file" name="image" id="image" class="p-4 m-2 bg-silver">
    <label for="video_url" class="pb-2 pt-4 m-2">Video</label>
    <input type="url" name="video_url" id="video_url" class="p-4 m-2">
    <input type="submit" class=" btn p-4 m-2 bg-deepskyblue border-white hover-deepskyblue" value="Create a campaign">


</form>