<app-header-menu></app-header-menu>
<!-- <app-hero></app-hero>

<h3 class="txt-center col-2 py-6">Our Services:Building a Better Tomorrow</h3>

<section class="flx px-6">
    <div class="col-4 px-4 black">
        <h5 class="">Widow Support</h5>
        <p>We provide comfort and aid to widows, ensuring they have the resources to rebuild and thrive.</p>
        <a href="#" class="deepskyblue">Help her</a>
    </div>
    <div class="col-4 mx-4 bg-deepskyblue black">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente fugiat ipsum nulla ut amet magni laborum modi
        in ab doloremque eos, omnis consequuntur dolor et. Beatae, nobis pariatur. Explicabo, incidunt.
    </div>
    <div class="col-4 mx-4 bg-deepskyblue black">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente fugiat ipsum nulla ut amet magni laborum modi
        in ab doloremque eos, omnis consequuntur dolor et. Beatae, nobis pariatur. Explicabo, incidunt.
    </div>

</section>
<section class="flx">
    <h1 class="txt-center col-12">Why Choose Us</h1>
</section>
<app-footer></app-footer> -->
<!-- <app-signup></app-signup> -->
<app-new-campaign></app-new-campaign>