<h3 class="txt-center m-4">Login</h3>
<form class="flx flx-col m-auto" style="width: 400px;" (ngSubmit)="login()">
    <label for="email" class="col-0 p-4  m-2">Username/Email</label>
    <input type="text" class="col-0 p-4 m-2" name="email" id="email" placeholder="Enter your email">
    <label for="password" class="col-0 p-4 m-2">Password</label>
    <input type="password" class="col-0 p-4 m-2" name="password" id="password" placeholder="Enter your password">
    <input type="submit" class="col-0 btn p-4 m-2 bg-deepskyblue border-white hover-deepskyblue" value="Login">
</form>