<h3 class="txt-center m-4">Sign up</h3>
<form class="flx flx-col m-auto" style="width:425px;">
    <div class="col-12"><img src="" alt="Profile"></div>
    <div class="flx">
        <label for="fname" class="col-1 pb-2 pt-4 m-2">Firstname</label>
        <label for="lname" class="col-1 pb-2 pt-4  m-2">Lastname</label>
    </div>
    <div class="flx">
        <input type="text" class=" p-4 m-2" name="fname" id="fname" placeholder="Enter your firstname">
        <input type="text" class=" p-4 m-2" name="lname" id="lname" placeholder="Enter your lastname">
    </div>
    <label for="username" class="col-12 pb-2 pt-4 m-2">Username</label>
    <input type="text" class="col-12 p-4 m-2" name="username" id="username" placeholder="Enter your username">

    <label for="email" class="col-12 pb-2 pt-4 m-2">Email</label>
    <input type="email" class="col-12 p-4 m-2" name="email" id="email" placeholder="Enter your email">

    <label for="password" class="col-6 pb-2 pt-4 m-2">Password</label>
    <input type="password" class="col-2 p-4 m-2" name="password" id="password" placeholder="Enter your password">
    <label for="confirm-password" class="col-6 pb-2 pt-4 m-2">Confirm password</label>
    <input type="password" class="col-2 p-4 m-2" name="confirm-password" id="confirm-password"
        placeholder="Confirm your password">
    <label for="bio" class="col-6 pb-2 pt-4 m-2">Bio</label>
    <textarea class="col-12 p-4 m-2" name="bio" id="bio" placeholder="Type here"></textarea>



    <div class="flx">
        <label for="age" class="col-6 pb-2 pt-4 m-2">Age</label>
        <label for="gender" class="col-6 pb-2 pt-4 m-2">Gender</label>
    </div>
    <div class="flx">
        <input type="number" class="col p-4 m-2" name="age" id="age">

        <input type="radio" class="col p-4 m-2" name="gender" id="male">
        <label for="male" class="col-2 p-4 m-2">Male</label>


        <input type="radio" class="col p-4 m-2" name="gender" id="female">
        <label for="female" class="col-2 p-4 m-2">Female</label>


        <input type="radio" class="col p-4 m-2" name="gender" id="other">
        <label for="other" class="col-2 p-4 m-2">Other</label>

    </div>
    <input type="submit" class="col-0 btn p-4 m-2 bg-deepskyblue border-white hover-deepskyblue" value="Sign up">
</form>